pin-depends: [
  [ "gen_js_api" "https://github.com/jchavarri/gen_js_api.git#typ_var" ]
  [ "jsoo-react" "https://github.com/jchavarri/jsoo-react.git" ]
  [ "rely" "https://github.com/reasonml/reason-native.git" ]
  [ "pastel" "https://github.com/reasonml/reason-native.git" ]
  [ "cli" "https://github.com/reasonml/reason-native.git" ]
  [ "file-context-printer" "https://github.com/reasonml/reason-native.git" ]
]