pin-depends: [
  [ "jsoo-react.dev" "git@github.com:ml-in-barcelona/jsoo-react.git" ]
  [ "pastel.dev" "git@github.com:reasonml/reason-native.git" ]
  [ "cli.dev" "git@github.com:reasonml/reason-native.git" ]
  [ "file-context-printer.dev" "git@github.com:reasonml/reason-native.git" ]
  [ "rely.dev" "git@github.com:reasonml/reason-native.git" ]
]
